.app__aside--card {
  transition: color 0.2s ease;
}

.app__aside--heading-2 {
  color: var(--color-off-white);
  font-weight: 800;
  font-size: 1.25em;
  margin-top: 2em;
  line-height: 24px;
  margin-bottom: 0.5em;
  transition: color 0.2s ease;
}

.app__aside--paragraph {
  color: #c5c6ce;
  font-weight: 400;
  line-height: 26px;
  font-size: 0.95em;
}

.app__aside--line {
  background-color: #5e607a;
  height: 1px;
  width: auto;
  margin-top: 2em;
}

/* Hover State */

.app__aside--card:hover .app__aside--heading-2 {
  color: var(--color-soft-orange);
}
