.footer__card {
  display: flex;
  transition: transform 0.2s ease-in;
  margin-bottom: 3em;
}

.card__images {
  background-size: cover;
  background-position: center;
  background-repeat: none;
  width: 200px;
  height: auto;
}

.card__info {
  font-size: 1rem;
  margin-left: 1.5em;
  padding: 0.5em;
}

.card__info--heading-1 {
  color: #c5c6ce;
  font-size: 2em;
  font-weight: 700;
  line-height: 32px;
}

.card__info--heading-2 {
  font-size: 1.2em;
  color: var(--color-very-dark-blue);
  font-weight: 800;
  line-height: 24px;
  margin: 0.7em auto;
  transition: color 0.2s ease;
}

.card__info--paragraph {
  color: #5e607a;
  font-size: 0.95em;
  line-height: 26px;
  font-weight: 400;
}

/* Hover State */
.footer__card:hover {
  transform: translateY(-2px);
}

.footer__card:hover .card__info--heading-2 {
  color: var(--color-soft-red);
}
