.header {
  grid-column: 1 / 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__image {
  width: 64px;
  height: 40px;
}

.isMobile {
  display: none;
  visibility: none;
}

.backdrop {
  display: none;
  visibility: none;
}

.nav > ul {
  display: flex;
}

ul > li {
  list-style-type: none;
}

ul > li + li {
  margin-left: 2.4em;
}

ul > li > a {
  text-decoration: none;
  color: #5e607a;
  font-size: 0.95em;
  font-weight: 400;
  transition: color 0.2s ease;
}

/* Hover state */

.nav ul li:hover a {
  color: var(--color-soft-red);
}

/* Media Queries */

@media (max-width: 53em) {
  .nav {
    /* display: none; */
    visibility: none;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: calc(100vw - 119px);
    background-color: white;
    z-index: 3;
    transition: right 0.3s ease;
  }

  .nav.isOpen {
    /* display: block; */
    visibility: visible;
    transition: right 0.3s ease;
    right: 0;
  }

  .nav > ul {
    height: 100%;
    display: block;
    padding-left: 0;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -20%);
  }

  .nav > ul > li + li {
    margin-left: 0;
    margin-top: 1.5em;
  }

  .nav > ul > li > a {
    font-size: 1.2em;
    color: #00001a;
    line-height: 24px;
    font-weight: 400;
  }

  .isMobile {
    display: block;
    visibility: visible;
    z-index: 4;
  }

  .backdrop {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    background-color: #00001a;
    opacity: 0.5;
  }

  .backdrop.isOpen {
    display: block;
  }
}
