.app {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  row-gap: 4em;
  column-gap: 2em;
}

@media (max-width: 53em) {
  .app {
    grid-template-columns: 1fr;
  }
}

.app__hero {
  grid-column: 1 / 3;
  background-size: cover;
  background-position: center;
  height: 300px;
}

.app__aside {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  background-color: var(--color-very-dark-blue);
  font-size: 1rem;
  padding: 2em 1.5em;
}

.app__aside--heading {
  color: var(--color-soft-orange);
  font-size: 2.5em;
  font-weight: 700;
}

.app__bottom {
  grid-column: 1 / 3;
  font-size: 1rem;
  display: flex;
}

.app__bottom--heading {
  font-size: 3.5em;
  font-weight: 800;
  line-height: 56px;
  color: var(--color-very-dark-blue);
  width: 350px;
  flex: 50%;
}

.app__bottom--wrap {
  flex: 50%;
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.app__bottom--wrap-paragraph {
  color: #5e607a;
  font-weight: 400;
  font-size: 0.95em;
  line-height: 26px;
}

.app__bottom--wrap-button {
  text-decoration: none;
  padding: 1em 2.2em;
  text-transform: uppercase;
  line-height: 24px;
  font-size: 0.8em;
  color: white;
  letter-spacing: 4.5px;
  background-color: var(--color-soft-red);
  transition: background-color 0.2s ease;
}

/* Hover State */

.app__bottom--wrap-button:hover {
  background-color: var(--color-very-dark-blue);
}

/* Media Queries */

@media (max-width: 53em) {
  .app {
    grid-template-columns: 1fr;
    column-gap: 0;
  }

  .app__hero {
    grid-column: 1/2;
  }

  .app__aside {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .app__bottom {
    grid-column: 1/2;
    grid-row: 3/4;
    flex-direction: column;
    font-size: 0.875rem;
    margin-top: -1.5em;
  }

  .app__bottom--wrap {
    margin-left: 0;
  }

  .app__bottom--wrap-paragraph {
    margin: 1em auto 2em;
    font-size: 1.1em;
  }

  .app__bottom--wrap-button {
    font-size: 1.1em;
  }

  .app > .footer__card + .footer__card {
    margin-top: -3em;
  }

  .footer__card {
    grid-column: 1/2;
  }
}
