:root {
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);

  --font-family: Inter;

  box-sizing: border-box;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1em;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
}

body {
  height: calc(100vh - 6em);
  max-width: 1440px;
  margin: 3em 8.5em;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/static/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/static/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/static/Inter-ExtraBold.ttf");
  font-weight: 800;
}

/* Handler Later */
@media (min-width: 97em) {
  body {
    margin: 3em auto;
  }
}

@media (max-width: 81em) {
  body {
    margin: 3em 2em;
  }
}

@media (max-width: 53em) {
  body {
    margin: 3em 1em 3em 1em;
  }
}
